.wrapTable {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  height: 100px;

  span {
    align-self: center;
    margin: 0 0 0 auto;
  }

  .forLeft {
    margin-left: 10px;
  }

  .forRight {
    margin-right: 10px;
  }
}
