.wrapMainReceipt {
  color: #666;
  .wrapHeader {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    .wrapHeadLogo {
      display: flex;
    }

    .wrapHeadInfo {
      display: flex;
      margin-top: 25px;

      .wrapTime {
        width: 50%;

        span {

        }
      }

      .wrapOrderId {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

}
