.item {
  position: relative;
  .cancel {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    right: 10px;
    color: #666;
    .icon {
      font-size: larger;
    }
  }
  .cost {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  img {
    width: 50px;
  }
  .blockquote {
    color: #666;
  }
}
