.item {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left-style: none;
  border-right-style: none;
  margin-bottom: -1px;
  .tableFlex {
    .tableFlexLeft {
      flex-grow: 1;
    }

    .tableFlexRight {
      flex-grow: 8;
    }

    .divElement {
      justify-content: space-between;
    }

    display: flex;
    position: relative;

    .spaceTable {
      padding-right: 20px;
    }

    .wrapContent {
      display: flex;

      .title {
        display: flex;
        flex-direction: column;
      }
    }

    .cancel {
      $fullHeight: 50%;

      text-align: right;
      top: calc(#{$fullHeight} - 10px);
      color: #666;
      position: absolute;
      right: 10px;

      .icon {
        font-size: larger;
      }
    }

    .cost {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
    }

    .sizeimgsmall {
      height: 50px;
    }

    .blockquote {
      color: #666;
    }
  }
}
