$heightOrder: calc(100vh - 200px);
.fixBorderTop {
  th {
    border-top: 0px !important;
  }
}

.shapeText {
  font-size: 13px;
  color: #666;
}

.tableRowList {
  cursor: pointer;
}

.wrapOrderHistory {
  height: 100%;
}

.wrapListOrder {
  height: $heightOrder;
  overflow-y: auto;
}
