$heightOrder: calc(100vh - 200px);
.fixBorderTop {
  th {
    border-top: 0px !important;
  }
}

.shapeText {
  font-size: 13px;
  color: #666;
}

.tableRowList {
  cursor: pointer;
}

.wrapOrderHistory {
  height: 100%;
}

.wrapListOrder {
  height: $heightOrder;
  overflow-y: auto;
}

.wrapOrderAction {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 20px;
  height: auto !important;
  margin-left: 0;
}

.fixMarginRow {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
