@import "./variables";

#wrapPostContainerId {
  padding-top: #{$paddingTopPostContainerId};
  height: #{$wrapPostContainerHeight}; // 98 after calc
  padding-bottom: $paddingBottomPostContainerId;
}

.wrapProductPanel {
  overflow-y: scroll;
  max-height: 100%; // remove this for enabled all scroll
}

.wrapFooterAction {
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: 10px;

  .wrapAction {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
  }
}

.wrapProductItem {
  .wrapImage {
    width: 100%;
  }
}
