@import 'styles/variables';

.openCategory {
  display: block;
}

.closeCategory {
  display: block;
}

#wrapPostContainerId {
  height: #{$wrapPostContainerHeight};
  padding-bottom: $paddingBottomPostContainerId;
}

.wrapProductPanel {
  overflow-y: scroll;
  max-height: 100%; // remove this for enabled all scroll
  min-height: 100%;
  padding-bottom: 50px;

  .wrapTop {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    padding-left: 10px;

    .wrapTopActions {
      display: block;
      padding-top: 3px;

      span {
        float: left;
      }
    }
  }
}

#wrapSearchLoading {
  display: block;
  position: absolute;
  right: 15px;
  top: 11px;
  z-index: 99;
}

.wrapFooterAction {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-top: 1px solid #dedede;

  .wrapActionFirstLine {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

  .wrapActionSecondLine {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .wrapFooterLine {
    border-top: 1px solid #D3D3D3;
    //display: flex;
    display: none;
    margin-top: 6px;
    padding-top: 6px;

    .wrapLeft {
      width: 50%;
    }

    .wrapRight {
      width: 50%;

      .wrapClock {
        text-align: right;
        padding-right: 20px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}

.itemSameHeight {
  display: inline-flex;
}

.wrapProductItem {
  .itemCart {
    width: 100%;
  }

  .wrapProductImage {
    height: 110px;
    text-align: center;

    .inside {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .wrapProductInfo {
    display: flex;
    flex-direction: column;

    .wrapProductName {
      font-size: 14px;
      font-weight: 600;
    }

    .wrapSku {
      font-size: 13px;
      color: #666;
      font-weight: 500;
    }
  }
}

.fixIndex {
  z-index: 0 !important;
}
