.wrapContent{
  display: inline-block;
}
.rowFlex{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.textAlign{
  text-align: center;
}
.textSize{
  font-size: 25px !important;
  font-weight: 500;
}
