.show{
  display: flex;
  margin-right: 0x;
}
.off{
  margin-right: -250px;
}
.sidebar{
  right: 0;
  position: absolute;
  background-color: white;
  z-index: 1;
  height: 98vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  -webkit-transition:all 1s; /* Safari */
  transition:all 1s;
}
.listBorder{
  border-left: 0px !important;
  border-right: 0px !important;
  height: 100px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.header{
  margin-top: 30px;
  margin-right: 30px;
  padding: 10px;
}
.flexIcon{
  flex: 1;
}
.flexContent{
  flex: 3;
}
