.wrapCategoryBox {
  display: block;


  .wrapInsideBox {
    position: absolute;
    z-index: 1;
    background: #fff;
    margin-left: -15px;
    height: 100%;
    min-width: 300px;
    max-height: 100%;
    overflow: scroll;
    border-right: 1px solid #dedede;
    padding-top: 10px;
    padding-left: 0;

    .wrapTitleCategory {
      border-bottom: 1px solid #dedede;

      .title {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    ul {
      li {
        border: 0;
        cursor: pointer;
        padding-left: 26px;

        &:hover {
          background: #dfdfdf;
        }

        span {
          svg {
            width: 18px;
          }
        }
      }
    }
  }

  .wrapCloseIcon {
    .closeIcon {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
