/* The Modal (background) */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.CategoryModal {
  top: 0;
  left: 0;
  height: 100%;
  transform: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow: auto;
}

/* Modal Content */
.modalContent {
  margin: auto;
  width: 400px;
  position: relative;
}

.modalContentMd {
  margin: auto;
  width: 600px;
  position: relative;
}

.modalContentLg {
  margin: auto;
  width: 900px;
  position: relative;
}

.modalContent,
.modalContentMd,
.modalContentLg {
  .close {
    color: #666;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    z-index: 2;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
