$fullHeight: 100vh;
$paddingTopPostContainerId: 2vh;
$paddingBottomPostContainerId: 60px;
$wrapPostContainerHeight: calc(#{$fullHeight} - #{$paddingTopPostContainerId} - #{$paddingBottomPostContainerId});
$mainBackground: #E3E8EE;
