@import '../styles/variables.scss';
.wrapLoginPage {
  height: $fullHeight;
  align-content: center;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.contentColumn {
  padding-bottom: 100px;
}
