/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap.css';
@import './dropdown.css';

body {
  height: 100vh;
  background-color: #E3E8EE;
}

.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
