/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'bootstrap.css';
@import '~rc-slider/assets/index.css';


.rc-slider-track {
  background-color: #5721cc;
}

.rc-slider-handle {
  border-color: #5721cc #5721cc #331673;
}

body {
  height: 100vh;
}

.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.invalid-feedback {
  display: block;
}
