.menu-area {
  background: #d61a5e
}

.mainmenu a, .navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
  color: #444;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 15px;
  display: block !important;
}

.mainmenu ul li a.menu-icon {
  padding-top: 0;
}

.mainmenu .active a, .mainmenu .active a:focus, .mainmenu
.active a:hover, .mainmenu li a:hover,
.mainmenu li a:focus, .navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus, .navbar-default .navbar-nav > .show > a:hover {
  outline: 0;
}

.mainmenu {
  background: none;
  border: 0 solid;
  margin: 0;
  padding: 0;
  min-height: 20px;
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .mainmenu .collapse ul li:hover > ul {
    display: block
  }

  .mainmenu .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    display: none;
    border: 1px solid #dedede;
  }

  .mainmenu .collapse ul ul[data-naviga-redirect="true"] {
    display: block;
  }

  .mainmenu .collapse ul ul li {
    position: relative
  }

  .mainmenu .collapse ul ul li:hover > ul {
    display: block
  }

  .mainmenu .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    display: none
  }

  .mainmenu .collapse ul ul ul li {
    position: relative
  }

  .mainmenu .collapse ul ul ul li:hover ul {
    display: block
  }

  .mainmenu .collapse ul ul ul ul {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 250px;
    display: none;
    z-index: 1
  }

}

@media only screen and (max-width: 767px) {
  .navbar-nav .show .dropdown-menu[data-naviga-redirect="true"] {
    display: block;
  }

  .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 35px
  }

  .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
    padding: 16px 15px 16px 45px
  }
}
