@import '../../styles/variables.scss';
.wrapWorkPlacePage {
  height: $fullHeight;
  align-content: center;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  padding-left: -15px !important;
  padding-right: -15px !important;
}
.contentColumn {
  padding-bottom: 30px;
}
