@import '../order-history';
.wrapDetailOrder {
  height: $heightOrder;
  overflow-y: auto;
  background-color: white;
}

.wrapOrderAction {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 20px;
  height: auto !important;
  margin-left: 0;
}
.fixMarginRow {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wrapContent {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
