.wrapFullHeight {
  height: 97vh;
  background-color: #fff;
}
.greyColor {
  color: grey;
}
.radiusButton {
  border-radius: 1px !important;
}
.wrapFullHeightList {
  height: 94vh;
  overflow-y: scroll;
}
